.main-div{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    background-image: url('../../images/2.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: white;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
    padding-top: 0px;
    padding-bottom: 0px;
}

.logo-container {
    width: 200px;
    border-radius: 20px;
}

.logo {
    width: 100%;
    height: auto;
    mix-blend-mode: multiply;
}

.headings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center the text */
    padding: 0 20px;
}

.header-title {
    font-size: 24px;
    color: black;
    text-transform: uppercase;
}

.headings-container p {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    max-width: 600px;
}

.headings-container p a {
    color: #0066cc; /* Optional link color */
    text-decoration: none;
}

.headings-container p a:hover {
    text-decoration: underline;
}
