.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0; /* Header background color */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
    padding-top: 0px;
    padding-bottom: 0px;
}

.logo-container {
    width: 200px;
    mix-blend-mode: multiply;
}

.logo {
    width: 100%;
    height: auto;
    background-color: #f0f0f0; /* Image background same as header */
}

.headings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center the text */
    flex-grow: 1; /* Make the container take up the remaining space */
    padding: 0 20px;
}

.header-title {
    font-size: 24px;
    color: black;
    text-transform: uppercase;
    margin: 0;
}

.headings-container p {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    line-height: 1.5;
    max-width: 600px;
}

.headings-container p a {
    color: #0066cc; /* Optional link color */
    text-decoration: none;
}

.headings-container p a:hover {
    text-decoration: underline;
}
