/* Apply to HTML and body to ensure the full page height */
html, body {
  height: 100%;           /* 100% height to ensure the root container fills the screen */
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4 {
  margin: 0; 
  padding: 0;
}


* {
  max-width: 100vw;  /* Ensure no element is wider than the viewport */
  box-sizing: border-box;  /* Ensure padding and borders are included in the element's width/height */
}



#root {
  display: flex;
  flex-direction: column;  /* Arrange content in a column layout */
  min-height: 100vh;       /* Ensure the root takes the full viewport height */
}
